<?xml version="1.0" encoding="Windows-1252" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ThisProductVersion="0.0.1" ?>
  <?define ThisProductVersionDisp="0.0.1" ?>
  <?define UpgradeCode="d0465b47-1872-4766-874d-add2a320687e" ?>
  
  <?define CurrProductGUID="7aef0490-9ba5-40c2-9d33-4353063c475e" ?>
  <?define CurrExecutableGUID="8609afe7-c272-48ce-a6a3-ac80759b0c49" ?>
  <?define CurrLocalProgramsGUID="c5971fba-b0bc-46e1-881c-a9139122a45d" ?>

  <Product Name="Thandy $(var.ThisProductVersionDisp)" Id="$(var.CurrProductGUID)"
           Language="1033" Codepage="1252"
           Version="$(var.ThisProductVersion)"
           Manufacturer="mailto: coderman at gmail.com - test package for The Tor Project, Inc."
           UpgradeCode="$(var.UpgradeCode)">
    
    <Package Id="*" Keywords="Installer"
             Description="Thandy $(var.ThisProductVersionDisp) Installer"
             Manufacturer="mailto: coderman at gmail.com - test package for The Tor Project, Inc."
             InstallerVersion="100" Compressed="yes"
             Languages="1033"  SummaryCodepage="1252"
             InstallPrivileges="limited" />

    <Media Id="1" Cabinet="Thandy.cab" CompressionLevel="high"
           EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="Thandy $(var.ThisProductVersionDisp) Installation Volume [1]" />
    <Property Id="ALLUSERS" Secure="yes"/>
    <Property Id="ReinstallModeText">omus</Property>

    <!-- Associate this package with the upgrade code for this series
    to ensure that upgrade installations by Thandy or other means work
    as expected.
    The OnlyDetect option must be false to ensure that existing files
    from an older version are removed and replaced with current files.
      -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion
        Property="UPGRADEFOUND"
        OnlyDetect="no"
        Minimum="0.0.0"
        IncludeMinimum="yes"
        Maximum="$(var.ThisProductVersion)"
        IncludeMaximum="no"
      />
    </Upgrade>


    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder" Name="LocalAppData">
       <Directory Id="LocalProgramsFolder" Name="Programs">

         <!-- Until proper support for per-user installs is available we manage Programs folder.
         Note that this directory will be left in place if it is in use by any other app.
           -->
         <Component Id="LocalProgramsFolderRef" Guid="$(var.CurrLocalProgramsGUID)">
           <CreateFolder/>
           <RemoveFolder Id="RemoveLocalProgramsFolder" On="uninstall" />
           <RegistryKey Root="HKCU" Key="Software\Thandy" Action="createAndRemoveOnUninstall">
             <RegistryValue Name="LocalProgramsFolderRef" Value="1" Type="integer" KeyPath="yes" />
           </RegistryKey>
         </Component>

         <Directory Id="INSTALLDIR" Name="Thandy">

          <!-- Main Thandy application files -->
          <Component Id="ThandyExecutable" Guid="$(var.CurrExecutableGUID)">
            <CreateFolder/>
            <RemoveFolder Id="RemoveINSTALLDIR" On="uninstall" />
            <RegistryKey Root="HKCU" Key="Software\Thandy" Action="createAndRemoveOnUninstall">
              <RegistryValue Name="Version" Value="$(var.ThisProductVersionDisp)" Type="string" KeyPath="yes" />
            </RegistryKey>
            <File Id="ThandyExe" DiskId="1"
                  Name="thandy.exe" Source="bin\Thandy.exe" />
          </Component>

         </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Build up the feature hierarchy -->
    <Feature Id="Complete" Title="Thandy"
             Level="1" Display="expand" ConfigurableDirectory="INSTALLDIR"
             Description="Thandy is an automatic update client for Tor software.">
      <Feature Id="MainApplication" Title="Thandy $(var.ThisProductVersionDisp)"
               AllowAdvertise="no" Absent="disallow" Level="1"
               Description="Main application">
        <ComponentRef Id="LocalProgramsFolderRef" />
        <ComponentRef Id="ThandyExecutable" />
      </Feature>
    </Feature>

    <!-- Upgrade installation sequence. -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>

    <!-- Set the UI options -->
    <UIRef Id="WixUI_Tor" />
    <WixVariable Id="WixUIBannerBmp" Value="header.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="welcome.bmp" />
  </Product>
</Wix>
