# this should work for all editors that support .editorconfig!
#
# on debian, emacs users should install elpa-editorconfig and vim
# users should install vim-editorconfig.

root = true

[*]
indent_style = space
# this remove final newline in some editors, instead of inserting it
# insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 79

[*.py]
indent_size = 4
# to do not have final newline in python code
insert_final_newline = true

[*.c, *.h]
# done in tests and other cases do not use 2 spaces identations, so this
# should be commented on those cases
indent_size = 2
trim_trailing_whitespace = true

[Makefile, *.am]
indent_style = tab

[*-spec.txt]
# specs seem to have 76 chars max per lines as RFCs
max_line_length = 76