/* *******************************************************
   $Id$

   This file is maintained in CVS; edit the version in the
   repository.
   *******************************************************
 */

BODY {
   background-color: #FFF;
   color: #000;
}

P, TD, TH, DD, DT, LI {
   font-family: lucida, "Lucida Sans", "Geneva", sans-serif;
}

TH, DT {
   font-weight: bold;
}

H1, H2, H3, H4, H5, H6 {
   font-family: lucida, "Lucida Sans", "Geneva", sans-serif;
}

H1 {
   text-align: center;
}

H2, H3, H4, H5, H6 {
   text-align: left;
}

H2 {
   background-color: #AFA;
   color: #000;
   padding: 2px 2px 2px 2px;
   border-width: 2px 2px 2px 2px;
   border-color: #000;
   border-style: solid;
}

H3 {
   background-color: #CCF; 
   color: #000;
   padding: 2px 2px 2px 2px;
   margin: 0 0 0 1em;
   border-width: 2px 2px 2px 2px;
   border-color: #000;
   border-style: solid;
}

DIV.answer {
   margin: 0 0 0 2em;
}

SPAN.heading {
   background-color: #ABF;
   color: #000;
   border-width: 1px;
   padding: 0 0.2em 0 0.2em;
   border-color: #000;
   border-style: solid;
}

SPAN.date {
   background-color: #FFF;
   color: #0A0;
   font-weight: bold;
}

P.date {
   background-color: #FFF;
   color: #0A0;
   font-weight: bold;
   margin-bottom: 0;
}

P.news {
   margin-top: 0;
   margin-left: 3em;
}

P.credit {
   font-size: smaller;
   font-style: italic;
   padding-left: 3px;
   border-left: 3px solid;
}